$small: 576px;
$medium: 768px;
$large: 1000px;
$max: 1980px;
$primary: #364f6b;
// $primary: #4C3677;
$secondary: #fc5185;
// $secondary: #FE6953;
$third: #43dde6;
// $third: #5148FB;
$fourth: #f0f0f0;