@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Roboto&display=swap');
html,body{
    margin: 0;
    padding: 0;
}
.headlines-font{
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 700;
}
.content-font{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.color{
    height: 5em;
    &:first-child{
        background-color: #B5120B;
    }
    &:nth-child(2){
        background-color: #373737;
    }
    &:nth-child(3){
        background-color: #f7f7f7;
    }
    p{
        line-height: 5em;;
    }
}
button a{
    text-decoration: none;
    color: white;
}