@import 'settings';
nav{
  top:0;
  z-index:5;
  font-weight:bold;
  background: linear-gradient(to bottom, rgba(rgb(48, 43, 99), .5), transparent);
  .navbar-brand{
    font-family: Sen, sans-serif;
    font-size: 2em;
    letter-spacing: -2px;
    color: white;
  }
  .navbar-toggler {
    background-image: url(../img/menuButton.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .nav-link{
    color: white;
    &:hover,&:active{
      color: $third;
    }
  }
}
.home{
  // background: linear-gradient(to top right,#450b7c,#563cc9,#49e9fb);
  // background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
  background: linear-gradient(to right, rgb(15, 12, 41), rgb(48, 43, 99), rgb(36, 36, 62));
  height: 110vh;
  min-height: 400px;
  padding-bottom: 3em;
}
.canvas-div{
  width: 100%;
  height: 110vh;
  min-height: 400px;
  top:0;
  left:0;
}
.canvas-stars{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.orbit{
  min-width: 100px;
  max-width: 400px;
  z-index: 999;
  // mix-blend-mode: difference;
  .orbit-text{
    font-family: Coiny, sans-serif;
    // font-family: Sen, sans-serif;
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: -.1rem;
    text-shadow: 0 0 .8rem white;
  }
}
.planet{
  z-index:1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main{
  background: url('../img/bg.svg') cover no-repeat;
}
.title{
  position: relative;
  z-index: 2;
  margin: 0;
  padding-left: .5em;
  white-space: nowrap;
  color: $secondary;
}

$astronautWidth: 62px;
.astronaut{
  top: 50%;
  left: 50%;
  z-index: 2000;
  opacity: 0;
}
.wave-bottom{
    bottom: -1px;
    left: 0;
}
.wave-top{
  top: -1px;
  left: 0;
}
.self-ad{
  color: $primary;
  p:nth-child(2){
    font-family: Coiny;
    font-size: 1.5em;
    line-height: 1;
    padding-top: 1em;
  }
  svg{
    bottom: 0;
    right: 10%; 
  }
}
.skills{
  // background: $primary;
  // svg{
  //   &:first-child{
  //     top: 10%;
  //     right: 20%;
  //     z-index: 2;
  //   }
    // &:nth-child(2){
    //   top: 60%;
    //   left: 20%;
    // }
  // }
  label{
    position: relative;
    z-index: 2;
  }
}
.meteor-top{
  top: -1.5em;
  left: 15%;
  z-index: 2;
}
.meteor-top2{
  top: 10%;
  right: 20%;
  z-index: 2;
}

picture{
  width:50%;
  height: auto;
  margin:0 auto;
}
.contact{
  background: linear-gradient(to right, rgb(15, 12, 41), rgb(48, 43, 99), rgb(36, 36, 62));
  .potential{
    display: inline-block;
    .potential-typing{
      color: white;
      white-space: nowrap;
      opacity: 0;
      overflow: hidden;
      margin: 0 auto;
    }
    .typing{
      &:nth-child(1){
        animation: typing 2s steps(40, end);
        animation-fill-mode: forwards;
      }
      &:nth-child(2){
        animation: typing 2s steps(40, end);
        animation-delay: 2s;
        animation-fill-mode: forwards;
      }
    }
  }
  form{
    max-width: $small;
    position: relative;
    z-index: 2;
  }
}
@keyframes typing{
  from {width: 0; opacity: 0}
  to {width: 100%; opacity: 1}
}
.btn-custom{
  color: white;
  font-family: Coiny;
  background-color: $third;
  // background: transparent;
  // border-width: .3em;
  // border-color: $third;
  position: relative;
  color: white;
  z-index: 3;
  &:hover{
    background-color: $secondary;
  }
  a{
    color: white;
    // color:$third;
    // color: rgb(48, 43, 99);
    text-decoration: none;
  }
}
