@import url('https://fonts.googleapis.com/css?family=Raleway:200i&display=swap');
$small: 576px;
$medium: 768px;
$bgColor: #0d1732;
// $secondaryColor: #e83a35;
$secondaryColor: orangered;

body{
  font-family: 'Raleway', sans-serif;
  // background-color: $bgColor;
}
section{
  position: relative;
  padding: 0;
}
p{
  margin:0;
  color: white;
}
label{
  span{
    color: white;
    font-size: .75rem;
  }
}
input,textarea{
  width: 100%;
}