@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Raleway:200i&display=swap');

body{
  font-family: 'Raleway', sans-serif;
}
section{
  position: relative;
  padding: 0;
}
p{
  margin:0;
}
label{
  span{
    color: $primary;
    font-size: .75rem;
  }
}
input,textarea{
  width: 100%;
}