html,body{
    scroll-behavior: smooth;
}
h1,h2{
    color: bisque;
    z-index: 1010;
}
p{
    color: darkgray;
}
.navbar-icon{
    display: inline-block;
    vertical-align: middle;
}
.menu-planet{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background: orangered;
}
.menu-rings{
    width: 2.5rem;
    height: 0.4rem;
    border-radius: 0.2rem;
    background: orange;
}
.menu-ring{
    @extend .menu-rings;
    transform: rotate(45deg);
    margin-left: -2.5rem;
}
.menu-ring-open{
    @extend .menu-rings;
    transform: rotate(-45deg);
    margin-left: -2.75rem;
    width: 0;
    transition: width .25s ease-in-out;
}
.open{
    width: 2.5rem;
}
.wrapper{
    @extend .part;
    padding-bottom: 48px;
    right: 0;
    width: 50px;
    z-index: 1030;
}
.part{
    padding-top:48px;
    height: 100vh;
}
.astronaut-box{
    bottom: 48px;
}
.astronaut-text{
    font-size:70%;
    position: absolute;
    top: 10px;
    right: 40px;
}
.home{
    position: relative;
}
.canvas-stars{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.art-container{
    width: 10rem;
    height: 10rem;
}