h1,h2{
    color: bisque;
}
p{
    color: darkgray;
}
.navbar-icon{
    display: inline-block;
    vertical-align: middle;
}
.menu-planet{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background: orangered;
}
.menu-rings{
    width: 2.5rem;
    height: 0.4rem;
    border-radius: 0.2rem;
    background: orange;
}
.menu-ring{
    @extend .menu-rings;
    transform: rotate(45deg);
    margin-left: -2.5rem;
}
.menu-ring-open{
    @extend .menu-rings;
    transform: rotate(-45deg);
    margin-left: -2.75rem;
    width: 0;
    transition: width .25s ease-in-out;
}
.open{
    width: 2.5rem;
}

.wrapper{
    @extend .part;
    right: 0;
    max-width: 50px;
    z-index: 1030;
}
.part{
    padding-top:48px;
    height: 100vh;
}